/* .list-group.list-group-item*/

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.wd-spaceX {
  position: relative;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.wd-img {
  float: right;
  border-radius: 12px;
  width: 100px;
  height: 100px;
}

.wd-boarder {
  border: 1px solid darkgrey;
}
